body { 
  background: url('https://source.unsplash.com/user/davehoefler') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.App {
  text-align: center;
}

h1 {
  font-size: 68px;
  font-family: Georgia;
  /* margin-top: 50px;
  margin-bottom: 50px; */
  padding-top: 30px;
  padding-bottom: 30px;
}

.flex-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}


li {
  list-style-type: none;
}

.taskItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 5px;
  /* grid-auto-rows: minmax(200px, auto); */
  justify-content: center;
  margin: 0 300px;
}

.card {
  opacity: 0.8;
}

.deleteIcon {
  position:absolute;
  right: 0;

}